#message{
	padding:20px 0;
	.top{
		height:40px;
		box-sizing:content-box;
		span{
			height:40px;
			line-height:40px;
			display:inline-block;
			padding:0 20px;
			cursor:pointer;
			letter-spacing:5px;
			&:hover{
				background:#efefef;
			}
		}
		.active{
			background:#1c86ee;
			color:white;
			&:hover{
				background:#1c86ee;
			}
		}
		border-bottom:2px solid #1c86ee;
	}
	.content{
		padding:10px 0;
		.chat{
			aside{
				height:700px;
				display:inline-block;
				&:nth-of-type(1){
					width:200px;
					border:1px solid #e5e5e5;
					border-right:none;
					overflow:auto;
					 /*定义滚动条的轨道，内阴影及圆角*/
	                &::-webkit-scrollbar-track{
	                    background-color: #fff;
	                }
	                /*定义滑块，内阴影及圆角*/
	                &::-webkit-scrollbar-thumb{
	                    /*width: 10px;*/
	                    height: 20px;
	                    background-color: #e5e5e5;
	                }
				}
				&:nth-of-type(2){
					width:780px;
					border:1px solid #e5e5e5;
				}
			}
		}
	}
}