.postArticle{
	min-height:900px;
	background:#fff;
	margin-bottom:10px;
	width:1200px;
    margin:0 auto;
    box-shadow:0px 0px 5px 3px #e5e5e5;
	h3{
		text-align:center;
	}
	.postArticleTop{
		height:40px;
		background:#f0f8ff;
		&>button{
			margin:5px;
			height:30px;
			line-height:30px;
		}
	}
	.editor{
		margin:20px 80px;
		.toolBar{
			padding:5px;
			background:#efefef;
			position:relative;
			height:40px;
			background:#F0F8FF;
			div{
				float:left;
				margin-left:10px;
				button{
					border-right:none;
					&:last-of-type{
						border-right:1px solid #ccc;
					}
				}
			}
			button{
				height:30px;
				line-height:30px;
				position:relative;
				border-radius:0;
				border:1px solid #ccc;
				color:#333;
				span{
					display:none;
					position:absolute;
					background:black;
					color:white;
					padding:5px;
					top:-22px;
					left:0;
					z-index:10;
					font-size:14px !important;
					height:22px;
					line-height:12px;
					white-space:nowrap;
					font-family:'黑体' !important;
					cursor:pointer;
				}
				&:hover{
					background:#ccc;
				}
			}
			.fontsize {
				width:190px;
				font-size:12px;
				background:#eee;
				border:1px solid #999;
				padding:0;
				position:absolute;
				left:5px;
				padding-bottom:4px;
				top:36px;
				button{
					border:1px solid #999;
					background:#fff;
					display:block;
					padding:2px;
					float:left;
					width:32px;
					margin:4px 0 0 4px;
					cursor:pointer;
				}
			}
			.fontFamily {
				width:200px;
				font-size:12px;
				background:#eee;
				border:1px solid #999;
				padding:0;
				position:absolute;
				left:5px;
				padding-bottom:4px;
				top:36px;
				button {
					border:1px solid #999;
					background:#fff;
					display:block;
					padding:2px;
					float:left;
					margin:4px 0 0 4px;
					cursor:pointer;
				}
			}
			.color {
				width:150px;
				height:150px;
				font-size:12px;
				background:#eee;
				border:1px solid #999;
				padding:0;
				position:absolute;
				left:84px;
				top:36px;
				button {
					border:1px solid #999;
					display:block;
					width:12px;
					height:12px;
					float:left;
					margin:4px 0 0 4px;
					cursor:pointer;
				}
				em {
				display:block;
				height:28px;
				width:80%;	
				clear:both;
				input {
					margin-top:10px;
					margin-left:4px;
					width:136px;	
					height:30px;
					cursor:pointer;
					background:#fff;
				}
			 }
			}
		}
		.content{
			width:100%;
			padding:10px;
			height:300px;
			overflow:auto;

			border:1px solid #e5e5e5;
			img{
				max-width:500px;
			}
			 &::-webkit-scrollbar{
                    width: 10px;
                    height: 16px;
                    background-color: #f5f5f5;
            }
            /*定义滚动条的轨道，内阴影及圆角*/
            &::-webkit-scrollbar-track{
                background-color: #efefef;
            }
            /*定义滑块，内阴影及圆角*/
            &::-webkit-scrollbar-thumb{
                /*width: 10px;*/
                height: 20px;
                border-radius: 10px;
                background-color: #ccc;
            }
	}
	.addSubmit{
			margin-top:20px;
			text-align:center;
			button{
				width:120px;
			}
		}
	}
}