#chat {
    position: absolute;
    z-index: 100;
    top:0;
    display:none;
    left:calc(100% - 600px);
    width:600px;
    height:700px;
    border:5px solid #e5e5e5;
    img{
       box-shadow:none;
    }
    .content {
        position: absolute;
        width:100%;
        height:100%;
        background:#fff;
        .content-header{
            height:50px;
            line-height:50px;
            background:#f0f8ff;
            text-align:center;
            position:relative;
            color:#555;
            .close{
                position:absolute;
                top:-15px;
                left:570px; 
                float:right;
                font-size: 120%;
                font-weight: bold;
                cursor: pointer;
                color:#1C86EE
            }
            h3{
                 margin:0;                                                    
            }
            .close:hover{
                font-size:150%;
                font-weight:bold
            }
        }
        .content-body{
            padding:10px;
            height:500px;
            overflow:auto;
            color:#333;
            background:#fff;
            border:1px solid #ccc;
            &>p{
                text-align:center;
                color:#ff7f00
            }
            &::-webkit-scrollbar{
                    width: 10px;
                    height: 16px;
                    background-color: #f5f5f5;
                }
                /*定义滚动条的轨道，内阴影及圆角*/
                &::-webkit-scrollbar-track{
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
                    background-color: #efefef;
                }
                /*定义滑块，内阴影及圆角*/
                &::-webkit-scrollbar-thumb{
                    /*width: 10px;*/
                    height: 20px;
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: #ccc;
                }
            .chat{
                margin:10px 0;
                p{
                    margin:10px 0;
                    img{
                        display:inline-block;
                        max-width:200px;
                    }
                }
                .head{
                    border-radius:30px;
                    margin:0 5px;
                }
                article{
                    border-bottom:1px dashed #e5e5e5;
                }
                .sendTo{
                    margin:20px 0;
                    p:nth-of-type(2){
                        text-align:left;
                        height:30px;
                        line-height:30px;
                    }
                    p:last-of-type{
                        span{
                            padding:5px;
                            background:#efefef;
                            display:inline-block;
                            border-radius:5px;
                            max-width: 250px
                        }
                        .fa-play{
                            color: #efefef;
                            transform:rotate(190deg);
                            margin-right: -3px;
                            margin-top: 4px;
                        }
                    }
                }
                .sendFrom{
                    margin:20px 0;
                    p:nth-of-type(2){
                        text-align:right;
                        height:30px;
                        line-height:30px;
                    }
                    p:last-of-type{
                        color:white;
                        text-align:right;
                        span{
                            padding:5px;
                            background:#5CACEE;
                            display:inline-block;
                            border-radius:5px;
                            max-width: 250px
                        }
                        .fa-play{
                            color: #5cacee;
                            margin-left: -3px;
                            margin-top: 4px;
                              transform:rotate(-10deg)
                        }
                    }
                }
            }
        }
        .content-message{
            height:95px;
            padding:5px 0;
            border-top:1px solid #efefef;
            &>div{
                height:90px;
                padding:5px;
                color:#666;
                margin:0 auto;
                border:1px solid #ccc;
                overflow:auto;
                img{
                    max-width:200px;
                }
            }
        }
        .content-footer{
            border-top:1px solid #efefef;
            padding:5px;
            margin-top:5px;
            strong{
                    height:25px;
                    line-height:25px;
                    width:25px;
                    display:inline-block;
                    cursor:pointer;
                    position:relative;
                    text-align:center;
                    a{
                        font-size:18px;
                    }
                    &>div{
                        text-align:left;
                        position:absolute;
                        width:403px;
                        border:1px solid #e5e5e5;
                        padding:5px;
                        top:-242px;
                        background:#fff;
                        div{
                            border:1px solid #efefef;
                            display:inline-block;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                    &:hover{
                        background:#efefef;
                    }
                }
            button{
                height:30px;
                line-height:30px;
                margin:0 5px;
                float:right;
                width:60px;
            }
        }
    }
    img{
        cursor:pointer
    }
}

.showChat{
    animation: showChata 0.3s ease-out;
    -moz-animation: showChata 0.3s ease-out;
    /* Firefox */
    -webkit-animation: showChata 0.3s ease-out;
    /* Safari 和 Chrome */
    -o-animation: showChata 0.3s ease-out;
    /* Opera */
}


@keyframes showChata {
    from {
        filter: alpha(opacity=0);
        opacity: 0;
        left:calc(100% - 650px)
    }

    to {
        filter: alpha(opacity=1);
        opacity: 1;
        left:calc(100% - 450px)
    }
}

@-webkit-keyframes showChata
/*Safari and Chrome*/
{
    from {
        filter: alpha(opacity=0);
        opacity: 0;
        left:calc(100% - 650px)
    }

    to {
        filter: alpha(opacity=1);
        opacity: 1;
        left:calc(100% - 450px)
    }
}