.myNotice{
	background:#fff;
	maring-bottom:10px;
		padding:20px 0;
	a{
	 	color:#37a;
	 	padding:3px;
	 	&:hover{
	 		background:#efefef
	 	}
	 }
	&>ul{
		padding-left:0;
		text-align:center;
		li{
			height:35px;
			line-height:35px;
			border-bottom:1px dashed #efefef;
		}
		li:first-of-type{
			background:#efefef
		}
	}
	&>table{
		margin:30px 0;
		width:100%;
		h4{
			margin:0
		}
		tbody{
			tr{
				td{
					height:35px;
					line-height:25px;
					text-align:center;
					border-bottom:1px dashed #e5e5e5;
					.noRead{
						padding:0 3px;
						background:#ff7f00;
						color:white;
						border-radius:10px;
					}
					span{
						padding:2px 5px;
					}
				}
			}
			tr:first-of-type{
				background:#efefef
			}
		}
	}
}