#myNotice{
	maring-bottom:10px;
	padding:20px 0;
	ul:first-of-type{
                padding:0;
                margin:0 auto;
                width:100%;
                li{
                    line-height:20px;
                    padding:10px;
                    p{
                       margin:0;
                    }
                    color:#999;
                    .focusyou{
                        height:40px;
                        line-height:30px;
                        &>a{
                            display:inline;
                            float:left;
                            height:30px;
                            line-height:30px;
                            margin-left:5px;
                            color:#1c86ee;
                            &:hover{
                                text-decoration:underline
                            }
                        }
                        img{
                            box-shadow:none;
                            border-radius:20px;
                            border:1px solid #e5e5e5;
                            float:left;
                        }
                        span{
                            color:#999;
                        }
                    }
                    border-bottom:1px solid #efefef;
                    &:hover{
                        background:#efefef;
                    }
                }
                .checkmore{
                padding:0;
                    a{
                        float:none;
                    }
                }
            }
}