header{
    height: 45px;
    line-height: 45px;
    background: #f0f8ff;
    border-bottom: 1px solid #ccc;
    min-width:1200px;
    
    nav {
        margin: 0 auto;
        padding:0 20px;
        h1 {
            margin: 0;
            color: #1C86EE;
            display: inline-block;
            a{
                background-image:url(./assert/logo.png);
                background-repeat:no-repeat;
                background-size: 50px;
                background-position: center left;
                padding-left:60px;
                display:block;
            }
        }
        h4 {
            margin: 0 10px;
            display: inline-block;
            color: #1C86EE;
        }
        a {
            color: #000
        }
        a:hover {
            color: #1C86EE
        }
        .brand {
            color: #1C86EE
        }
        .headerRight {
            float: right;
            display:inline-block;
            height:45px;
           
            span{
                margin-left:5px;
                float:right;
                color:#1C86EE;
            }
            a {
                float:right;
                margin: 0;
                padding:0 10px;
                color: #1C86EE;
                height:44px;
                line-height:44px;
                display:block;
            }
            a:hover {
                cursor: pointer;
                background: #e5e5e5;
            }

        }
            .item{
                height:44px;
                line-height:44px;
                font-size:120%;
                padding:0;
                strong{
                    color:#1C86EE;
                    height:20px;
                    width:100%;
                    padding:0 10px;
                    line-height:20px;
                    margin-top:10px;
                }
                &:hover {
                    cursor: pointer;
                    background: #e5e5e5;
                }
                &:last-of-type span{
                    border:none;
                }
                &:first-of-type{
                    margin-left:10px;
                }
            }
        .messageNav{
            padding:0 10px;
            cursor:pointer;
            &:hover{
                background:#e5e5e5;
            }
        }
        .message{
            position:relative;
            padding:0 10px;
            z-index:20;
            &:hover{
                background:#e5e5e5;
            }
            .fa-play{
                transform:rotate(90deg);
                color:red;
                position:absolute;
                left:-10px;
                top:45px;
            }
            ul{
                position:absolute;
                top:44px;
                left:-235px;
                background:#fff;
                border:1px solid #e5e5e5;
                padding:0;
                margin:0;
                z-index:5;
                width:300px;
                height:400px;
                overflow:auto;
                &::-webkit-scrollbar{
                    width: 10px;
                    height: 16px;
                }
                /*定义滚动条的轨道，内阴影及圆角*/
                &::-webkit-scrollbar-track{
                    background-color: #fff;
                }
                /*定义滑块，内阴影及圆角*/
                &::-webkit-scrollbar-thumb{
                    /*width: 10px;*/
                    height: 20px;
                    background-color: #e5e5e5;
                }
                li{
                    line-height:20px;
                    padding:10px;
                    p{
                       margin:0;
                    }
                    color:#999;
                    .focusyou{
                        height:40px;
                        line-height:30px;
                        &>a{
                            display:inline;
                            float:left;
                            height:30px;
                            line-height:30px;
                            margin-left:5px;
                            &:hover{
                                background:none;
                                text-decoration:underline
                            }
                        }
                        img{
                            box-shadow:none;
                            border-radius:20px;
                            border:1px solid #e5e5e5;
                            float:left;
                        }
                        span{
                            color:#999;
                        }
                    }
                    border-bottom:1px solid #efefef;
                    &:hover{
                        background:#efefef;
                    }
                }
                .checkmore{
                padding:0;
                    a{
                        float:none;
                    }
                }
            }
        }
        .sec{
            ul{
                left:-196px
            }
        }
    }
    .messagemove{
        animation: messageShow 0.2s ease-out;
        -moz-animation: messageShow 0.2s ease-out;
        /* Firefox */
        -webkit-animation: messageShow 0.2s ease-out;
        /* Safari 和 Chrome */
        -o-animation: messageShow 0.2s ease-out;
        /* Opera */
    }
    .alternate{
        animation: alternateShow 1s linear infinite alternate;
        -moz-animation: alternateShow 1s linear infinite alternate;
        /* Firefox */
        -webkit-animation: alternateShow 1s linear infinite alternate;
        /* Safari 和 Chrome */
        -o-animation: alternateShow 1s linear infinite alternate;
        /* Opera */
    }
}

@keyframes messageShow {
    from {
        filter: alpha(opacity=0);
        opacity: 0;
        left:-100px;
    }

    to {
        filter: alpha(opacity=1);
        opacity: 1;
        left:0
    }
}

@-webkit-keyframes messageShow
/*Safari and Chrome*/
{
    from {
        filter: alpha(opacity=0);
        opacity: 0;
        left:-100px;
    }

    to {
        filter: alpha(opacity=1);
        opacity: 1;
        left:0
    }
}


@keyframes alternateShow {
    from {
        color:#fff
    }

    to {
        color:#ff7f00
    }   
}

@-webkit-keyframes alternateShow
/*Safari and Chrome*/
{
    from {
        color:#fff
    }

    to {
        color:#ff7f00
    }   
}
