.updates{
	min-height:900px;
	padding:10px 0;
	.lists{
		clear:both;
		min-height:80px;
		padding:20px 0;
		border-bottom:1px dashed #e5e5e5;
		a{
	 	color:#37a;
	 	padding:3px;
		 	&:hover{
		 		background:#efefef
		 	}
		 }
		&>img{
			border:2px solid #efefef;
			border-radius:50px;
			float:left;
		}
		.header{
			float:left;
			height:50px;
			line-height:50px;
			margin-left:10px;
			margin-bottom:10px;
		}
		.photoLists{
			clear:both;
			background:#efefef;
			height:112px;
			padding:3px;
			div{
				height:100px;
				width:100px;
				display:inline-block;
				margin:3px;
				border-radius:2px;
				background-position:center;
				background-repeat:no-repeat;
				background-size:cover;
				cursor:pointer;
			}
			a{
				margin:3px;
				width:100px;
				height:100px;
				float:right;
				display:inline-block;
				cursor:pointer;
				line-height:100px;
				text-align:center;
				background:#fff
			}
		}
	}
	&>p{
		text-align:center;
	}
}